body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-image: url("./assets/dirt.png");
  background-size: 64px;
  image-rendering: pixelated;
}